<div class="col-sm-6 col-lg-4 mb-4" data-id="{{id}}">
    <div class="p-3 bg-light border-radius border">
        <div class="userinfo d-flex align-items-center">
            <div class="userpicture mr-2">
                <img src="{{userimage}}" alt="{{userfullname}}">
            </div>

            <div class="userdata">
                <p class="mb-0">{{userfullname}}</p>
                <p class="mb-0 small">{{timemodified}}</p>
            </div>
        </div>

        <div class="defaulttemplate-list-body">
            <div class="badge rounded-pill my-2 text-bg-{{difficulty}}">{{difficultystr}}</div>

            <div class="titulo">
                {{{ content }}}
            </div>
        </div>

        <div class="d-flex align-items-center border-top mt-4 pt-2">
            <div class="star-rating animated-stars my-2">
                {{{optionshtml}}}
            </div>

            <div class="average ml-auto">
                <div class="badge badge-primary">Média: <span id="average-badge-div-{{id}}">{{#rate}}{{rate}}{{/rate}}{{^rate}}-{{/rate}}</span></div>
            </div>
        </div>
    </div>
</div>